{% extends 'ext_base.html' %}

{% block content %}
    <table id="completed" class="display">
        <caption>Completed Test Drive Modules</caption>
        <thead>
            <tr>
                <th>Date (UTC)</th></td>
                <th>User</th>
                <th>Module</th>
                <th>Environment</th>
            </tr>
        </thead>
        <tbody>
            {% for i in last_completed %}
                <tr>
                    <td>{{ i.created_at }}</td>
                    <td>{{ i.user_email }}</td>
                    <td>{{ i.oName }}</td>
                    <td>{{ i.wm_env }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- <table class="table table-striped table-sm table-hover"> -->
        <table id="started" class="display">
        <caption>Last 100 Started Modules</caption>
        <thead>
            <tr>
                <th>Date (UTC)</th></td>
                <th>User</th>
                <th>Module</th>
                <th>Environment</th>
            </tr>
        </thead>
        <tbody>
            {% for i in last_started %}
                <tr>
                    <td>{{ i.created_at }}</td>
                    <td>{{ i.user_email }}</td>
                    <td>{{ i.oName }}</td>
                    <td>{{ i.wm_env }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div>
        <ul>
            <li><a href="dashboard/surveys">Surveys</a></li>
            <li><b>Total Completed:</b> {{ total_completed }}</li>
            <li><b>Most popular completed module:</b> {{ most_popular }} ({{ most_popular_count }})</li>
            <li></b>Export as JSON:</b> <a href="dashboard/export/started">Started</a> | <a href="dashboard/export/completed">Completed</a> | <a href="dashboard/export/survey">Surveys</a></li>
        </ul>
    </div>

    <div>
        <form action="dashboard/lookupuser" method="POST">
        <label>Look up a user's all time completed modules:</label>
        <input type="text" id="user" name="user" value="user@email.com">
        <input type="submit" value="Submit">
        </form>
    </div>

    <script>
        $(document).ready( function () {
            $('#completed').DataTable({
                "pageLength": 10,
                "dom": 'B<"clear">lfrtip',
                "buttons": [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ],
            });
            $('#started').DataTable({
                "pageLength": 10,
                "dom": 'B<"clear">lfrtip',
                "buttons": [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ],
            });
        } );
    </script>

    <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
            <span class="text-muted d-flex justify-content-left">Only last 5000 Completed Modules are shown
            </span>

            <!-- <span class="text-muted d-flex justify-content-center">
                Total Completed: {{ total_completed }} | Most popular completed module: {{ most_popular }} ({{ most_popular_count }}) | Export data: <a href="dashboard/export/started">Started</a> | <a href="dashboard/export/completed">Completed</a>
            </span> -->
        </div>

    </footer>
    {% endblock %}
