{% extends 'ext_base.html' %}

{% block content %}
    <table id="survey" class="display">
        <thead>
            <tr>
                <th>Date (UTC)</th></td>
                <th>User</th>
                <th>Question</th>
                <th>Response</th>
                <th>Domain</th>
                <th>Browser</th>
            </tr>
        </thead>
        <tbody>
        {% for i in survey_results %}
            <tr>
                <td>{{ i.created_at }}</td>
                <td>{{ i.user_email }}</td>
                <td>{{ i.oName }}</td>
                <td>{{ i.value }}</td>
                <td>{{ i.ctx_location_hostname }}</td>
                <td>{{ i.env_browser_name }} {{ i.env_browser_version }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <div>
        <a href="/dashboard">Return to dashboard</a>
    </div>

    <script>
    $(document).ready( function () {
        $('#survey').DataTable({
        "pageLength": 10,
        "dom": 'B<"clear">lfrtip',
        "buttons": [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ],
        colResize: {
            isEnabled: true,
                hoverClass: 'dt-colresizable-hover',
                hasBoundCheck: true,
                minBoundClass: 'dt-colresizable-bound-min',
                maxBoundClass: 'dt-colresizable-bound-max',
                saveState: true,
                isResizable: function (column) {
                    return column.idx !== 2;
                },
                onResize: function (column) {
                    //console.log('...resizing...');
                },
                onResizeEnd: function (column, columns) {
                    console.log('I have been resized!');
                },
                stateSaveCallback: function (settings, data) {
                    let stateStorageName = window.location.pathname + "/colResizeStateData";
                    localStorage.setItem(stateStorageName, JSON.stringify(data));
                },
                stateLoadCallback: function (settings) {
                    let stateStorageName = window.location.pathname + "/colResizeStateData",
                        data = localStorage.getItem(stateStorageName);
                    return data != null ? JSON.parse(data) : null;
                }
        }
    });
    } );
</script>
{% endblock %}
