{% extends "ext_base.html" %}

{% block content %}
    <table class="table table-striped table-sm table-hover">
    <caption>Last 100 Survey Results</caption>
        <thead>
            <tr>
                <th>Date (UTC)</th></td>
                <th>User</th>
                <th>Question</th>
                <th>Response</th>
                <th>Domain</th>
                <th>Browser</th>
            </tr>
        </thead>
        <tbody>
        {% for i in survey_results %}
            <tr>
                <td>{{ i.created_at }}</td>
                <td>{{ i.user_email }}</td>
                <td>{{ i.oName }}</td>
                <td>{{ i.value }}</td>
                <td>{{ i.ctx_location_hostname }}</td>
                <td>{{ i.env_browser_name }} {{ i.env_browser_version }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    <div>
        <a href="/dashboard">Return to dashboard</a>
    </div>

{% endblock %}
