{% extends "ext_base.html" %}

{% block content %}

    <table class="table table-striped table-sm table-hover">
    <caption>Completed Modules for {{ user_email }}</caption>
        <thead>
            <tr>
                <th>Date (UTC)</th></td>
                <th>User</th>
                <th>Module</th>
                <th>Browser</th>
            </tr>
        </thead>
        <tbody>
        {% for i in user_completed %}
            <tr>
                <td>{{ i.created_at }}</td>
                <td>{{ user_email }}</td>
                <td>{{ i.oName }}</td>
                <td>{{ i.env_browser_name }} {{ i.env_browser_version }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    <div>
        <a href="/dashboard">Return to dashboard</a>
    </div>

{% endblock %}
